.navbar{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}
.img1{ 
    width: 200px;
}
.s1{
    background-color: #F4E2EE;
    padding-top: 130px;
}
.img2{
    width: 35%;
    margin-left: 110px;
}
.h2{
    font-size: 54px;
    margin-bottom: 50px;
}
.p1{
    font-size: 22px;
    margin-bottom: 50px;

}
.s2 h1{
    padding-right: 600px;
    font-size: 30px;
    
}
.s2 .bt1{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.s2 .img3{
    width: 33%;
    border-radius: 30px;
    padding: 20px;
}
.s2 .p3{
    padding-right: 10px;
    margin-left: 20px;
}
.s2 .h1{
    font-size: 28px;
    padding-right: 10px;
    margin-left: 20px;
}
.s2 .p4{
    font-size: 15px;
    padding-right: 10px;
    margin-left: 20px;
}
.s3{
    background-color: #1D1D1D;
    height: 300px;
    background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
}
.s3 h6{
    color: white;
    font-size: 40px;
}
.s3 p{
    color: white;
    font-size: 23px;
}
.s3 form{
    width: 25%;
}
.s4 .img4{
    width: 35%;
}
.s4 .div3{
    padding: 25px;
    font-size: 14px;
}
.s4 .div3 .p5{
    color: #99A4AF;
}